<%- include("header"); -%>
    <h2>This awesome To Do List was created by Olawuwo Abideen</h2>


    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae perferendis earum obcaecati quae veritatis
        quasi ex placeat eum quod unde, necessitatibus cupiditate, iure praesentium eligendi, maiores ratione alias nemo
        non.</p>
    <%- include("footer"); -%>